<body bgcolor='black' style="text-align:center;"><font color = 'LightSkyBlue' ><h2><br><br>LOGIN PAGE<br><br></h2>
<h4>WELCOME BACK
<br>PLEASE ENTER YOUR CREDENTIALS</h4>

<form method="POST">
    {% csrf_token %}
    {{form}}
    <br>
    <br>
    <input type="submit" name="Login">
    {% for message in messages %}
    <p id="messages"> {{message}}</p>
    {% endfor %}
    <br><br>
    <div class="mt-4">
        <div class="d-flex justify-content-right links">
            Don't have an account?? <a href="{% url 'regis' %}" class="ml-2">REGISTER</a>
        </div>
    </div>
</form></font>
<body>